.forecast-card {
  border-radius: 20px;
  border: 1px solid rgb(166, 196, 241);

  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .conditions {
    font-size: 2rem;
  }
}
